*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 100px;
    height: 100px;
    animation: animation2 2s;
    background-color: red;
    animation-delay: 2s;
}

@keyframes animation2{
    0%{
        transform: translate(0px);
    }

    100%{
        transform: translate(200px);
    }
}