.parent1{
    width: 350px;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.child{
    width: 65px;
    height: 25px;
    background-color: rgb(245, 208, 78);
    border-radius: 5px;
}