body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
    padding-top: 20px;
}

.container{
    width: 500px;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

img{
    width: 470px;
    padding: 15px;
}