*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color:rgb(230, 248, 255);
    border-radius: 10px;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

img:hover{
    box-shadow: 5px 5px 5px gray;
}

ul{
    line-height: 2;
}


