body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent{
    width: 500px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img{
    height: 400px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

p{
    color: hsl(228, 12%, 48%);
}

h2.n2{
    color: green;
}